{{- $isSimpleScalable := eq (include "loki.deployment.isScalable" .) "true" -}}
{{- if $isSimpleScalable }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "loki.writeFullname" . }}
  namespace: {{ include "loki.namespace" . }}
  labels:
    {{- include "loki.writeLabels" . | nindent 4 }}
    {{- with .Values.loki.serviceLabels }}
    {{- toYaml . | nindent 4}}
    {{- end }}
    {{- with .Values.write.service.labels }}
    {{- toYaml . | nindent 4}}
    {{- end }}
  annotations:
    {{- with .Values.loki.serviceAnnotations }}
    {{- toYaml . | nindent 4}}
    {{- end }}
    {{- with .Values.write.service.annotations }}
    {{- toYaml . | nindent 4}}
    {{- end }}
spec:
  type: {{ .Values.write.service.type }}
  ports:
    - name: http-metrics
      port: {{ .Values.loki.server.http_listen_port }}
      targetPort: http-metrics
      protocol: TCP
    - name: grpc
      port: {{ .Values.loki.server.grpc_listen_port }}
      targetPort: grpc
      protocol: TCP
  selector:
    {{- include "loki.writeSelectorLabels" . | nindent 4 }}
{{- with .Values.write.service.trafficDistribution | default .Values.loki.service.trafficDistribution }}
  trafficDistribution: {{ . }}
{{- end }}
{{- end }}
