{{- if and .Values.gateway.enabled .Values.gateway.route.enabled -}}
apiVersion: {{ .Values.gateway.route.apiVersion }}
kind: {{ .Values.gateway.route.kind }}
metadata:
  name: {{ include "loki.gatewayFullname" . }}
  namespace: {{ include "loki.namespace" . }}
  labels:
    {{- include "loki.gatewayLabels" . | nindent 4 }}
    {{- with .Values.gateway.route.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.gateway.route.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with .Values.gateway.route.parentRefs }}
  parentRefs:
    {{- range . }}
    - name: {{ tpl .name $ }}
      {{- if .namespace }}
      namespace: {{ tpl .namespace $ }}
      {{- end }}
      {{- if .sectionName }}
      sectionName: {{ tpl .sectionName $ }}
      {{- end }}
      {{- if .kind }}
      kind: {{ .kind }}
      {{- end }}
      {{- if .group }}
      group: {{ .group }}
      {{- end }}
      {{- if .port }}
      port: {{ .port }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- with .Values.gateway.route.hostnames }}
  hostnames:
    {{- range . }}
    - {{ tpl . $ | quote }}
    {{- end }}
  {{- end }}
  rules:
    - {{- if .Values.gateway.route.matches }}
      matches:
      {{- toYaml .Values.gateway.route.matches | nindent 8 }}
      {{- end }}
      {{- if .Values.gateway.route.filters }}
      filters:
      {{- toYaml .Values.gateway.route.filters | nindent 8 }}
      {{- end }}
      backendRefs:
        - name: {{ include "loki.gatewayFullname" $ }}
          port: {{ $.Values.gateway.service.port }}
    {{- with .Values.gateway.route.additionalRules }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}
