apiVersion: "v1"
name: fluent-bit
version: 0.0.2
appVersion: v0.0.1
kubeVersion: "^1.10.0-0"
description: "Uses fluent-bit Loki go plugin for gathering logs and sending them to Loki"
home: https://grafana.com/loki
icon: https://github.com/grafana/loki/raw/master/docs/logo.png
sources:
- https://github.com/grafana/loki
maintainers:
- name: Loki Maintainers
  email: lokiproject@googlegroups.com
engine: gotpl
