.uptodate
.uptodate-debug
.pkg
.cache
*.output
*.tgz
*.exe
__debug_bin
requirements.lock
mixin/vendor/
cmd/loki/loki
cmd/logcli/logcli
cmd/promtail/promtail
cmd/loki/loki-debug
cmd/promtail/promtail-debug
cmd/docker-driver/docker-driver
cmd/loki-canary/loki-canary
cmd/fluent-bit/out_loki.so
cmd/fluent-bit/out_loki.h
/loki
/promtail
/logcli
/loki-canary
dlv
rootfs/
dist
coverage.txt
.DS_Store
.aws-sam
.idea

# emacs
.#*
