.uptodate
.uptodate-debug
.pkg
.cache
*.output
*.tgz
requirements.lock
mixin/vendor/
cmd/loki/loki
cmd/promtail/promtail
cmd/loki/loki-debug
cmd/promtail/promtail-debug
/loki
/promtail
/logcli
dlv
main