# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/loki-team

# Documentation.
/docs/ @grafana/docs-logs @grafana/loki-team

# Loki operator
/operator/ @grafana/loki-team @periklis @xperimental @JoaoBraveCoding
/.github/workflows/operator* @grafana/loki-team @periklis @xperimental @JoaoBraveCoding

# Logql grammar
# The observability logs team is listed as co-codeowner for grammar file. This is to receive notifications about updates, so these can be implemented in https://github.com/grafana/lezer-logql
/pkg/logql/syntax/expr.y @grafana/observability-logs @grafana/loki-team

# Nix
/nix/ @trevorwhitney
flake.nix @trevorwhitney

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md
