# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/loki-team

# Documentation.
/docs/ @grafana/docs-logs @grafana/loki-team

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Make dependabot as codeowners for specific files to auto-merge dependencies PRs
go.mod @dependabot @grafana/loki-team
go.sum @dependabot @grafana/loki-team
/vendor @dependabot @grafana/loki-team