kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: log-file-metric-exporter-privileged
rules:
  - verbs:
      - use
    apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    resourceNames:
      - log-file-metric-exporter-scc
