
# Prometheus Monitor Service (Metrics)
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    name: loki-operator
  name: metrics-monitor
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: loki-operator
      app.kubernetes.io/component: metrics
