<!doctype html>
<html xml:lang="{lang:}" lang="{lang:}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Thomas Leitner" />
    <meta name="copyright" content="2009-2016 Thomas Leitner" />
    <meta name="description" content="kramdown is a fast, pure-Ruby Markdown-superset converter" />
    <meta name="keywords" content="ruby, kramdown, markdown, text markup" />
    <link href="{relocatable: default.css}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{relocatable: news.atom}" type="application/atom+xml" rel="alternate" />
    <script src="//kramdown.gettalong.org/MathJax/MathJax.js" type="text/javascript"></script>
    <title>{title:} | kramdown</title>
  </head>
  <body>
    <header>
      <hgroup>
        <h1 id="logo"><a href="{relocatable: /}" title="Homepage">kramdown</a></h1>
        <h2 id="slogan">fast, pure-Ruby Markdown-superset converter</h2>
      </hgroup>

      <nav>
        {menu: {options: {mi: {in_menu: true}, sort: sort_info, flatten: true}}}
      </nav>
    </header>

    <div id="wrapper">
      <% if context.content_node.blocks.has_key?('intro') %>
      <aside class="banner">
        <webgen:block name="intro" node="first" />
      </aside>
      <% end %>

      <aside>
        <webgen:block name="sidebar" node="first" notfound="ignore" />

        <webgen:block name="content" chain="sidebar.template" />
      </aside>

      <div id="content">
        <webgen:block name="content" node="first" />
      </div>
      <div style="clear:both"></div>
    </div>

    <footer>
      <div class="float-left">Copyright © 2009-2016 Thomas Leitner</div>
      <div class="float-right">Generated by <a href="http://webgen.gettalong.org">webgen</a></div>
    </footer>

    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
      var sc_project=4267845;
      var sc_invisible=1;
      var sc_security="41321455";
      var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
      document.write("<sc"+"ript type='text/javascript' src='" + scJsHost + "statcounter.com/counter/counter.js'></" + "script>");
     </script>
     <noscript><div class="statcounter"><a title="website statistics" href="http://statcounter.com/" target="_blank"><img class="statcounter" src="//c.statcounter.com/4267845/0/41321455/1/" alt="website statistics" /></a></div></noscript>
     <!-- End of StatCounter Code for Default Guide -->

  </body>
</html>
