resources:
- ./../openshift

# Adds namespace to all resources.
namespace: kubernetes-operators

labels:
- pairs:
    app.kubernetes.io/name: loki-operator
    app.kubernetes.io/part-of: loki-operator
    app.kubernetes.io/managed-by: operator-lifecycle-manager
  includeSelectors: true
- pairs:
    app.kubernetes.io/instance: loki-operator-v0.3.0
    app.kubernetes.io/version: "0.3.0"

configMapGenerator:
- files:
  - controller_manager_config.yaml
  name: manager-config
  behavior: replace

patchesStrategicMerge:
- manager_related_image_patch.yaml
- manager_security_context_patch.yaml
- prometheus_service_monitor_patch.yaml

images:
- name: controller
  newName: docker.io/grafana/loki-operator
  newTag: main-ac1c1fd
