version: 2

workflows:
  version: 2
  test-build-deploy:
    jobs:
    - test
    - build
    - publish:
        requires:
        - test
        - build
    - deploy:
        requires:
        - publish
        filters:
          branches:
            only: master

# https://circleci.com/blog/circleci-hacks-reuse-yaml-in-your-circleci-config-with-yaml/
defaults: &defaults
  docker:
    - image: gcr.io/metrictank-gcr/logish-build-image:master-b5b6999
      auth:
        username: _json_key
        password: $GCR_CREDS
  working_directory: /go/src/github.com/grafana/logish

jobs:
  test:
    <<: *defaults
    steps:
      - checkout

      - run:
          name: Run Unit Tests
          command: |
            touch build-image/.uptodate &&
            make BUILD_IN_CONTAINER=false test

  build:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: Build Images
          command: |
            touch build-image/.uptodate &&
            make BUILD_IN_CONTAINER=false

      - run:
          name: Save Images
          command: |
            touch build-image/.uptodate &&
            make BUILD_IN_CONTAINER=false save-images

      - save_cache:
          key: v1-logish-{{ .Branch }}-{{ .Revision }}
          paths:
          - images/

  publish:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker

      - restore_cache:
          key: v1-logish-{{ .Branch }}-{{ .Revision }}

      - run:
          name: Load Images
          command: |
            touch build-image/.uptodate &&
            make BUILD_IN_CONTAINER=false load-images

      - run:
          name: Push Images
          command: |
            docker login -u _json_key -p "$GCR_CREDS" https://gcr.io &&
            make push-images

  deploy:
    <<: *defaults
    steps:
      - run: |
          images=$(make images)
          curl -s --header "Content-Type: application/json" \
            --data "{\"build_parameters\": {\"CIRCLE_JOB\": \"deploy\", \"IMAGE_NAMES\": \"$(make images-names)\"}}" \
            --request POST \
            https://circleci.com/api/v1.1/project/github/raintank/deployment_tools/tree/master?circle-token=$CIRCLE_TOKEN
