---
loki:
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
  useTestSchema: true
deploymentMode: SingleBinary
singleBinary:
  replicas: 1
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0
