---
loki:
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
  useTestSchema: true
  rulerConfig:
    storage:
      type: local
      local:
        directory: /rules
deploymentMode: SingleBinary
singleBinary:
  replicas: 1
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0
