---
gateway:
  ingress:
    enabled: true
    annotations: {}
    hosts:
      - host: gateway.loki.example.com
        paths:
          - path: /
            pathType: Prefix
loki:
  commonConfig:
    replication_factor: 1
read:
  replicas: 1
write:
  replicas: 1
backend:
  replicas: 1
monitoring:
  lokiCanary:
    enabled: false
test:
  enabled: false
