{{- $isSingleBinary := eq (include "loki.deployment.isSingleBinary" .) "true" -}}
{{- if $isSingleBinary }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "loki.singleBinaryFullname" . }}
  namespace: {{ include "loki.namespace" . }}
  labels:
    {{- include "loki.labels" . | nindent 4 }}
    {{- with .Values.loki.serviceLabels }}
    {{- toYaml . | nindent 4}}
    {{- end }}
    {{- with .Values.singleBinary.service.labels }}
    {{- toYaml . | nindent 4}}
    {{- end }}
  annotations:
    {{- with .Values.loki.serviceAnnotations }}
    {{- toYaml . | nindent 4}}
    {{- end }}
    {{- with .Values.singleBinary.service.annotations }}
    {{- toYaml . | nindent 4}}
    {{- end }}
spec:
  type: {{ .Values.singleBinary.service.type }}
  ports:
    - name: http-metrics
      port: {{ .Values.loki.server.http_listen_port }}
      targetPort: http-metrics
      protocol: TCP
    - name: grpc
      port: {{ .Values.loki.server.grpc_listen_port }}
      targetPort: grpc
      protocol: TCP
  selector:
    {{- include "loki.singleBinarySelectorLabels" . | nindent 4 }}
    {{- with .Values.singleBinary.selectorLabels }}
      {{- tpl (toYaml .) $ | nindent 4 }}
    {{- end }}
{{- end }}
