{{- if and .Values.resultsCache.enabled (.Values.memcached.enabled) }}
{{- if gt (int .Values.resultsCache.replicas) 1 }}
apiVersion: {{ include "loki.pdb.apiVersion" . }}
kind: PodDisruptionBudget
metadata:
  name: {{ include "loki.fullname" . }}-memcached-results-cache
  namespace: {{ include "loki.namespace" . }}
  labels:
    {{- include "loki.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: memcached-results-cache
spec:
  selector:
    matchLabels:
      {{- include "loki.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: memcached-results-cache
  {{- with .Values.resultsCache.maxUnavailable }}
  maxUnavailable: {{ . }}
  {{- end -}}
{{- end -}}
{{- end }}
