---
groups:
- name: logging_loki.rules
  rules:
  - record: code_handler_job_namespace:lokistack_gateway_http_requests:irate1m
    expr: |
      sum(
        irate(
          http_requests_total{container="gateway", group="logsv1"}[1m]
        )
      ) by (code, handler, job, namespace)
  - record: job_namespace_route_statuscode:loki_request_duration_seconds_count:irate1m
    expr: |
      sum(
        irate(
          loki_request_duration_seconds_count[1m]
        )
      ) by (job, namespace, route, status_code)
  - record: job_le_namespace_operation:loki_boltdb_shipper_request_duration_seconds_bucket:rate5m
    expr: |
      sum(
        rate(
          loki_boltdb_shipper_request_duration_seconds_bucket[5m]
        )
      ) by (job, le, namespace, operation)
