{{- if .Values.chunksCache.enabled }}

{{- include "loki.memcached.service" (dict "ctx" $ "memcacheConfig" .Values.chunksCache "valuesSection" "chunksCache" "component" "chunks-cache") }}

{{- if .Values.chunksCache.l2.enabled }}
---
{{ include "loki.memcached.service" (dict "ctx" $ "memcacheConfig" .Values.chunksCache.l2 "valuesSection" "chunksCache" "component" "chunks-cache") }}
{{- end -}}
{{- end }}
