# permissions for end users to edit recordingrules.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: recordingrule-editor-role
rules:
- apiGroups:
  - loki.grafana.com
  resources:
  - recordingrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - loki.grafana.com
  resources:
  - recordingrules/status
  verbs:
  - get
