# permissions for end users to edit rulerconfigs.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: rulerconfig-editor-role
rules:
- apiGroups:
  - loki.grafana.com
  resources:
  - rulerconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - loki.grafana.com
  resources:
  - rulerconfigs/status
  verbs:
  - get
