apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
spec:
  template:
    spec:
      containers:
        - name: manager
          args:
          - "--with-alerting-rule-webhooks=false"
          - "--with-recording-rule-webhooks=false"
