language: ruby
sudo: false
cache:
  - bundler
  - directories:
    - $HOME/.m2
rvm:
  - jruby-1.7
  - jruby-9.0.5.0
jdk:
  - oraclejdk8
  - openjdk7
before_install:
  - gem install ruby-maven bundler
  - bundle install
matrix:
  include:
    - rvm: jruby-9.2.0.0
      jdk: oraclejdk8
    - rvm: jruby-head
      jdk: oraclejdk8
  allow_failures:
    - rvm: jruby-head
