rbac:
  create: true
  pspEnabled: true

networkPolicy:
  enabled: false

serviceAccount:
  create: true
  name:

loki:
  enabled: true

  replicas: 1
  minReadySeconds: 0
  terminationGracePeriodSeconds: 30
  deploymentStrategy: RollingUpdate
  port: 3100

  image:
    repository: grafana/loki
    tag: master
    pullPolicy: Always # Always pull while in BETA

  service:
    port: 3100
    annotations: {}
    #  prometheus.io/scrape: "true"
    #  prometheus.io/port: "http-metrics"
    labels: {}

  readinessProbe:
    httpGet:
      path: /ready
      port: http-metrics
    initialDelaySeconds: 45

  livenessProbe:
    httpGet:
      path: /ready
      port: http-metrics
    initialDelaySeconds: 45

  resources: {}
    # limits:
    #   cpu: 200m
    #   memory: 256Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  ## Pod Annotations
  podAnnotations: {}

  ## Deployment annotations
  annotations: {}

  ## Assign a PriorityClassName to pods if set
  # priorityClassName:

  ## Node labels for pod assignment
  ## ref: https://kubernetes.io/docs/user-guide/node-selection/
  #
  nodeSelector: {}

  ## Tolerations for pod assignment
  ## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
  ##
  tolerations: []

  ## Affinity for pod assignment
  ## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
  ##
  affinity: {}
    # podAntiAffinity:
    #   requiredDuringSchedulingIgnoredDuringExecution:
    #   - labelSelector:
    #       matchExpressions:
    #       - key: app
    #         operator: In
    #         values:
    #         - loki
    #     topologyKey: "kubernetes.io/hostname"
  
  ## Enable persistence using Persistent Volume Claims
  ## ref: http://kubernetes.io/docs/user-guide/persistent-volumes/
  ## If you set enabled as "True", you need :
  ## - create a pv which above 10Gi and has same namespace with loki
  ## - keep storageClassName same with below setting
  persistence:
    enabled: false
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    storageClassName: default
    # annotations: {}
    # subPath: ""
    # existingClaim:

  config:
    auth_enabled: false
    ingester:
      lifecycler:
        ring:
          store: inmemory
          replication_factor: 1
    schema_configs:
      - from: 0
        store: boltdb
        object_store: filesystem
        schema: v9
        index:
          prefix: index_
          period: 168h
    storage_config:
      boltdb:
        directory: /data/loki/index
      filesystem:
        directory: /data/loki/chunks

promtail:
  enabled: true

  nameOverride: promtail
  deploymentStrategy: RollingUpdate

  entryParser: docker

  image:
    repository: grafana/promtail
    tag: master
    pullPolicy: Always # Always pull while in BETA

  volumes:
    - name: varlog
      hostPath:
        path: /var/log
    - name: varlibdockercontainers
      hostPath:
        path: /var/lib/docker/containers

  volumeMounts:
    - name: varlog
      mountPath: /var/log
    - name: varlibdockercontainers
      mountPath: /var/lib/docker/containers
      readOnly: true

  readinessProbe: null

  livenessProbe: null

  resources: {}
  #  limits:
  #    cpu: 200m
  #    memory: 128Mi
  #  requests:
  #    cpu: 100m
  #    memory: 128Mi

  ## Pod Annotations
  podAnnotations: {}
  #  prometheus.io/scrape: "true"
  #  prometheus.io/port: "http-metrics"

  ## Deployment annotations
  annotations: {}

  ## Assign a PriorityClassName to pods if set
  # priorityClassName:

  ## Node labels for pod assignment
  ## ref: https://kubernetes.io/docs/user-guide/node-selection/
  #
  nodeSelector: {}

  ## Tolerations for pod assignment
  ## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
  ##
  tolerations:
    - key: node-role.kubernetes.io/master
      effect: NoSchedule

  ## Affinity for pod assignment
  ## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
  ##
  affinity: {}

