# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.helmignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~

# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# CI / testing
distributed-values.yaml
simple-scalable-values.yaml
single-binary-values.yaml
Makefile
ci/
scenarios/
test/
unittests/

# docs
*.md
/*.gotmpl
docs/
