{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <img src="{{ .Site.BaseURL | absURL }}/logo.png" alt="Loki Logo" height="200">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/prologue/introduction.md/" | relURL }}" role="button">Get started</a>
      <p class="meta">AGPLv3 Licensed. <a href="https://github.com/grafana/loki">GitHub</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">LokiStack</h2>
        <p>Secure and multi-tenant Loki instances with built-in authentication/authorization</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Alerting Rules</h2>
        <p>Notify Alertmanager hosts by declarative kubernetes native Alerting Rules</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Recording rules</h2>
        <p>Push recorded metrics by declarative kubernetes native Recording Rules</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">AlertManager Support</h2>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Authentication using OIDC/OAuth2/OpenShift</h2>
      </div>
      <div class="col-lg-5">
          <h2 class="h4">Authorization using Open Policy Agent</h2>
      </div>
    </div>
  </div>
</section>
{{ end }}


{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
      <div class="col-lg-9">
          {{- .Content -}}
      </div>
  </div>
</section>
{{ end }}
