apiVersion: "v1"
name: promtail
version: 0.14.0
appVersion: v1.0.0
kubeVersion: "^1.10.0-0"
description: "Responsible for gathering logs and sending them to Loki"
home: https://grafana.com/loki
icon: https://github.com/grafana/loki/raw/master/docs/logo.png
sources:
- https://github.com/grafana/loki
maintainers:
- name: Loki Maintainers
  email: lokiproject@googlegroups.com
engine: gotpl
