apiVersion: "v1"
# This Chart was moved to https://github.com/grafana/helm-charts
deprecated: true
name: promtail
version: 2.0.2
appVersion: v2.0.0
kubeVersion: "^1.10.0-0"
description: "DEPRECATED Responsible for gathering logs and sending them to Loki"
home: https://grafana.com/loki
icon: https://raw.githubusercontent.com/grafana/loki/master/docs/sources/logo.png
sources:
- https://github.com/grafana/loki
engine: gotpl
