apiVersion: "v1"
name: promtail
version: 2.0.1
appVersion: v2.0.0
kubeVersion: "^1.10.0-0"
description: "Responsible for gathering logs and sending them to Loki"
home: https://grafana.com/loki
icon: https://raw.githubusercontent.com/grafana/loki/master/docs/sources/logo.png
sources:
- https://github.com/grafana/loki
maintainers:
- name: Loki Maintainers
  email: lokiproject@googlegroups.com
engine: gotpl
