image: grafana/{{config.target}}:0.32.0
tags:
{{#if build.tags}}
{{#each build.tags}}
  - {{this}}
{{/each}}
{{/if}}
manifests:
  - image: grafana/{{config.target}}:0.32.0-amd64
    platform:
      architecture: amd64
      os: linux
  - image: grafana/{{config.target}}:0.32.0-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
