image: grafana/{{config.target}}
tags:
{{#if build.tags}}
{{#each build.tags}}
  - {{this}}
{{/each}}
{{/if}}
manifests:
  - image: grafana/{{config.target}}-amd64
    platform:
      architecture: amd64
      os: linux
  - image: grafana/{{config.target}}-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
