image: grafana/{{config.target}}:{{#if build.tag}}{{build.tag}}{{else}}{{build.branch}}-{{substr 0 7 build.commit}}{{/if}}
tags:
  - latest
  - master
{{#if build.tags}}
{{#each build.tags}}
  - {{this}}
{{/each}}
{{/if}}
manifests:
  - image: grafana/{{config.target}}:{{#if build.tag}}{{build.tag}}{{else}}{{build.branch}}-{{substr 0 7 build.commit}}{{/if}}-amd64
    platform:
      architecture: amd64
      os: linux
  - image: grafana/{{config.target}}:{{#if build.tag}}{{build.tag}}{{else}}{{build.branch}}-{{substr 0 7 build.commit}}{{/if}}-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
  - image: grafana/{{config.target}}:{{#if build.tag}}{{build.tag}}{{else}}{{build.branch}}-{{substr 0 7 build.commit}}{{/if}}-arm
    platform:
      architecture: arm
      os: linux
      variant: v7
