server:
  http_listen_port: 0
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

client:
  url: http://localhost/api/prom/push

scrape_configs:
- job_name: system

  static_configs:
  - targets:
      - localhost
    labels:
      job: varlogs
      __path__: /var/log
