{{- if .Values.monitoring.lokiCanary.enabled -}}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "loki-canary.fullname" . }}
  labels:
    {{- include "loki-canary.labels" . | nindent 4 }}
  annotations:
  {{- with .Values.monitoring.lokiCanary.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
{{- with .Values.serviceAccount.imagePullSecrets }}
imagePullSecrets:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}
