name: Backport PR Creator
on:
  pull_request:
    types:
      - closed
      - labeled

jobs:
  main:
    # We don't run the backporting for PRs from forks because those can't access "loki-github-bot" secrets in vault.
    # We don't use GitHub actions app (secrets.GITHUB_TOKEN) because PRs created by the bot don't trigger CI.
    # Also only run if the PR is merged, as an extra safe-guard.
    if: ${{ ! github.event.pull_request.head.repo.fork && github.event.pull_request.merged == true }}

    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
      pull-requests: "write"
    steps:
      - name: Checkout Actions
        uses: actions/checkout@v4
        with:
          repository: "grafana/grafana-github-actions"
          persist-credentials: false
          path: ./actions
          ref: 066cbcd084b61558d99d13c76f835c49e31b4670

      - name: Install Actions
        run: npm install --production --prefix ./actions

      - name: Retrieve GitHub App Credentials from Vault
        id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@28361cdb22223e5f1e34358c86c20908e7248760
        with:
          repo_secrets: |
            APP_ID=loki-gh-app:app-id
            PRIVATE_KEY=loki-gh-app:private-key

      - name: Generate GitHub App Token
        id: app-token
        uses: "actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547" # v1
        with:
          # Variables generated by the previous step get-secrets
          app-id: ${{ env.APP_ID }}
          private-key: ${{ env.PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Run backport
        uses: ./actions/backport
        with:
          token: ${{ steps.app-token.outputs.token }}
          labelsToAdd: "backport"
          title: "{{originalTitle}} (backport {{base}})"
