name: Backport PR Creator
on:
  pull_request_target:
    types:
      - closed
      - labeled

jobs:
  main:
    if: github.repository == 'grafana/loki'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions
        uses: actions/checkout@v4
        with:
          repository: "grafana/grafana-github-actions"
          path: ./actions
          ref: main
      - name: Install Actions
        run: npm install --production --prefix ./actions
      - id: "get_github_app_token"
        name: "get github app token"
        uses: "actions/create-github-app-token@v1"
        with:
          app-id: "${{ secrets.APP_ID }}"
          owner: "${{ github.repository_owner }}"
          private-key: "${{ secrets.APP_PRIVATE_KEY }}"
      - name: Run backport
        uses: ./actions/backport
        with:
          metricsWriteAPIKey: ${{secrets.GRAFANA_MISC_STATS_API_KEY}}
          token: ${{ steps.get_github_app_token.outputs.token }}
          labelsToAdd: "backport"
          title: "{{originalTitle}} (backport {{base}})"
