"jobs":
  "check":
    "runs-on": "ubuntu-latest"
    "uses": "grafana/loki-release/.github/workflows/check.yml@v1.11.5"
    "with":
      "build_image": "grafana/loki-build-image:0.30.1"
      "golang_ci_lint_version": "v1.51.2"
      "release_lib_ref": "v1.11.5"
      "skip_validation": false
      "use_github_app_token": true
"name": "check"
"on":
  "pull_request": {}
  "push":
    "branches":
    - "main"
