name: helm-release

on:
  push:
    branches:
      - main
      - helm-5.48
    paths:
      - 'production/helm/loki/Chart.yaml'

jobs:
  call-update-helm-repo:
    uses: grafana/helm-charts/.github/workflows/update-helm-repo.yaml@main
    with:
      charts_dir: production/helm
      cr_configfile: production/helm/cr.yaml
      ct_configfile: production/helm/ct.yaml
      helm_tag_prefix: helm
    secrets:
      helm_repo_token: ${{ secrets.GH_BOT_ACCESS_TOKEN }}
