name: helm-release

on:
  workflow_dispatch: # for manual testing
  push:
    branches:
      - main
      - k[0-9]+
    paths:
      - 'production/helm/loki/Chart.yaml'

jobs:
  call-update-helm-repo:
    uses: grafana/helm-charts/.github/workflows/update-helm-repo.yaml@64b1c8260d69a9b1d9a186df25c51358b92f7662
    permissions:
      contents: "read"
      id-token: "write"
      pull-requests: "write"
    with:
      charts_dir: production/helm
      cr_configfile: production/helm/cr.yaml
      ct_configfile: production/helm/ct.yaml
      helm_tag_prefix: helm
    secrets:   
      vault_repo_secret_name: loki-gh-app
