name: Helm weekly release PR

on:
  schedule:
    - cron: '0 10 * * 2' # 10 UTC every Tuesday (since ks get cut on Monday)

  workflow_dispatch: # for manual testing

permissions:
  contents: "read"
  id-token: "write"
  pull-requests: "write"

jobs:
  weekly-release-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
      pull-requests: "write"
    env:
      BUILD_IN_CONTAINER: false
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: gabe565/setup-helm-docs-action@d5c35bdc9133cfbea3b671acadf50a29029e87c2 # v1.0.4
        with:
          version: v1.11.2          
      - name: Retrieve GitHub App Credentials from Vault
        id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@28361cdb22223e5f1e34358c86c20908e7248760
        with:
          repo_secrets: |
            APP_ID=loki-gh-app:app-id
            PRIVATE_KEY=loki-gh-app:private-key

      - name: Generate GitHub App Token
        id: app-token
        uses: "actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e" # v2
        with:
          # Variables generated by the previous step get-secrets
          app-id: ${{ env.APP_ID }}
          private-key: ${{ env.PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: "Login to DockerHub (from vault)"
        uses: "grafana/shared-workflows/actions/dockerhub-login@75804962c1ba608148988c1e2dc35fbb0ee21746"

      - uses: imjasonh/setup-crane@31b88efe9de28ae0ffa220711af4b60be9435f6e # v0.4

      - name: Update/regenerate files for standard release
        id: update
        run: |
          bash .github/workflows/scripts/helm-weekly-release.sh

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7
        with:
          token: ${{ steps.app-token.outputs.token }}
          title: "chore: release loki helm chart ${{ steps.update.outputs.new_chart_version }}"
          body: Automated PR created by [helm-weekly-release-pr.yaml](https://github.com/grafana/loki/blob/main/.github/workflows/helm-weekly-release-pr.yaml)
          commit-message: Update loki chart to ${{ steps.update.outputs.new_chart_version }}
          branch: helm-chart-weekly-${{ steps.update.outputs.new_chart_version }}
          base: main
          labels: helm
