name: helm-release

on:
  push:
    branches:
      - main
    paths:
      - 'production/helm/loki/Chart.yaml'

jobs:
  call-update-helm-repo:
    uses: grafana/helm-charts/.github/workflows/update-helm-repo.yaml@main
    with:
      charts_dir: production/helm
      cr_configfile: production/helm/cr.yaml
      ct_configfile: production/helm/ct.yaml
      helm_tag_prefix: helm
    secrets:
      helm_repo_token: ${{ secrets.GH_BOT_ACCESS_TOKEN }}
      # See https://github.com/grafana/helm-charts/blob/main/INTERNAL.md about this key
      gpg_key_base64: ${{ secrets.HELM_SIGN_KEY_BASE64 }}
