name: Helm tagged release PR

on:
  release:
    types:
      - released

  workflow_dispatch: # for manual testing

jobs:
  weekly-release-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
      pull-requests: "write"
    env:
      RELEASE_VERSION: "${{ github.event.release.tag_name || 'test' }}"
      BUILD_IN_CONTAINER: false
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: gabe565/setup-helm-docs-action@d5c35bdc9133cfbea3b671acadf50a29029e87c2 # v1.0.4
        with:
          version: v1.11.2

      - name: Retrieve GitHub App Credentials from Vault
        id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@28361cdb22223e5f1e34358c86c20908e7248760
        with:
          repo_secrets: |
            APP_ID=loki-gh-app:app-id
            PRIVATE_KEY=loki-gh-app:private-key

      - name: Generate GitHub App Token
        id: app-token
        uses: "actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e" # v2
        with:
          # Variables generated by the previous step get-secrets
          app-id: ${{ env.APP_ID }}
          private-key: ${{ env.PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Update/regenerate files
        id: update
        run: |
          bash .github/workflows/scripts/helm-tagged-release.sh ${RELEASE_VERSION}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7
        with:
          token: ${{ steps.app-token.outputs.token }}
          title: "chore: release loki helm chart ${{ steps.update.outputs.new_chart_version }}"
          body: Automated PR created by [helm-tagged-release-pr.yaml](https://github.com/grafana/loki/blob/main/.github/workflows/helm-tagged-release-pr.yaml)
          commit-message: Update loki chart to ${{ steps.update.outputs.new_chart_version }}
          branch: helm-chart-tagged-${{ steps.update.outputs.new_chart_version }}
          base: main
          labels: helm
