"jobs":
  "check":
    "uses": "grafana/loki-release/.github/workflows/check.yml@main"
    "with":
      "build_image": "grafana/loki-build-image:0.34.4"
      "golang_ci_lint_version": "v1.60.3"
      "release_lib_ref": "main"
      "skip_validation": false
      "use_github_app_token": true
  "loki":
    "env":
      "BUILD_TIMEOUT": 60
      "IMAGE_PREFIX": "grafana"
      "RELEASE_LIB_REF": "main"
      "RELEASE_REPO": "grafana/loki"
    "needs":
    - "check"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "pull code to release"
      "uses": "actions/checkout@v4"
      "with":
        "path": "release"
        "repository": "${{ env.RELEASE_REPO }}"
    - "name": "setup node"
      "uses": "actions/setup-node@v4"
      "with":
        "node-version": 20
    - "name": "Set up QEMU"
      "uses": "docker/setup-qemu-action@v3"
    - "name": "set up docker buildx"
      "uses": "docker/setup-buildx-action@v3"
    - "name": "Login to DockerHub (from vault)"
      "uses": "grafana/shared-workflows/actions/dockerhub-login@main"
    - "id": "weekly-version"
      "name": "Get weekly version"
      "run": |
        echo "version=$(./tools/image-tag)" >> $GITHUB_OUTPUT
      "working-directory": "release"
    - "name": "Build and push"
      "timeout-minutes": "${{ fromJSON(env.BUILD_TIMEOUT) }}"
      "uses": "docker/build-push-action@v6"
      "with":
        "build-args": "IMAGE_TAG=${{ steps.weekly-version.outputs.version }}"
        "context": "release"
        "file": "release/cmd/loki/Dockerfile"
        "platforms": "linux/amd64,linux/arm64,linux/arm"
        "push": true
        "tags": "${{ env.IMAGE_PREFIX }}/loki:${{ steps.weekly-version.outputs.version }}"
  "loki-canary":
    "env":
      "BUILD_TIMEOUT": 60
      "IMAGE_PREFIX": "grafana"
      "RELEASE_LIB_REF": "main"
      "RELEASE_REPO": "grafana/loki"
    "needs":
    - "check"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "pull code to release"
      "uses": "actions/checkout@v4"
      "with":
        "path": "release"
        "repository": "${{ env.RELEASE_REPO }}"
    - "name": "setup node"
      "uses": "actions/setup-node@v4"
      "with":
        "node-version": 20
    - "name": "Set up QEMU"
      "uses": "docker/setup-qemu-action@v3"
    - "name": "set up docker buildx"
      "uses": "docker/setup-buildx-action@v3"
    - "name": "Login to DockerHub (from vault)"
      "uses": "grafana/shared-workflows/actions/dockerhub-login@main"
    - "id": "weekly-version"
      "name": "Get weekly version"
      "run": |
        echo "version=$(./tools/image-tag)" >> $GITHUB_OUTPUT
      "working-directory": "release"
    - "name": "Build and push"
      "timeout-minutes": "${{ fromJSON(env.BUILD_TIMEOUT) }}"
      "uses": "docker/build-push-action@v6"
      "with":
        "build-args": "IMAGE_TAG=${{ steps.weekly-version.outputs.version }}"
        "context": "release"
        "file": "release/cmd/loki-canary/Dockerfile"
        "platforms": "linux/amd64,linux/arm64,linux/arm"
        "push": true
        "tags": "${{ env.IMAGE_PREFIX }}/loki-canary:${{ steps.weekly-version.outputs.version }}"
  "loki-canary-boringcrypto":
    "env":
      "BUILD_TIMEOUT": 60
      "IMAGE_PREFIX": "grafana"
      "RELEASE_LIB_REF": "main"
      "RELEASE_REPO": "grafana/loki"
    "needs":
    - "check"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "pull code to release"
      "uses": "actions/checkout@v4"
      "with":
        "path": "release"
        "repository": "${{ env.RELEASE_REPO }}"
    - "name": "setup node"
      "uses": "actions/setup-node@v4"
      "with":
        "node-version": 20
    - "name": "Set up QEMU"
      "uses": "docker/setup-qemu-action@v3"
    - "name": "set up docker buildx"
      "uses": "docker/setup-buildx-action@v3"
    - "name": "Login to DockerHub (from vault)"
      "uses": "grafana/shared-workflows/actions/dockerhub-login@main"
    - "id": "weekly-version"
      "name": "Get weekly version"
      "run": |
        echo "version=$(./tools/image-tag)" >> $GITHUB_OUTPUT
      "working-directory": "release"
    - "name": "Build and push"
      "timeout-minutes": "${{ fromJSON(env.BUILD_TIMEOUT) }}"
      "uses": "docker/build-push-action@v6"
      "with":
        "build-args": "IMAGE_TAG=${{ steps.weekly-version.outputs.version }}"
        "context": "release"
        "file": "release/cmd/loki-canary-boringcrypto/Dockerfile"
        "platforms": "linux/amd64,linux/arm64,linux/arm"
        "push": true
        "tags": "${{ env.IMAGE_PREFIX }}/loki-canary-boringcrypto:${{ steps.weekly-version.outputs.version }}"
  "promtail":
    "env":
      "BUILD_TIMEOUT": 60
      "IMAGE_PREFIX": "grafana"
      "RELEASE_LIB_REF": "main"
      "RELEASE_REPO": "grafana/loki"
    "needs":
    - "check"
    "runs-on": "ubuntu-latest"
    "steps":
    - "name": "pull release library code"
      "uses": "actions/checkout@v4"
      "with":
        "path": "lib"
        "ref": "${{ env.RELEASE_LIB_REF }}"
        "repository": "grafana/loki-release"
    - "name": "pull code to release"
      "uses": "actions/checkout@v4"
      "with":
        "path": "release"
        "repository": "${{ env.RELEASE_REPO }}"
    - "name": "setup node"
      "uses": "actions/setup-node@v4"
      "with":
        "node-version": 20
    - "name": "Set up QEMU"
      "uses": "docker/setup-qemu-action@v3"
    - "name": "set up docker buildx"
      "uses": "docker/setup-buildx-action@v3"
    - "name": "Login to DockerHub (from vault)"
      "uses": "grafana/shared-workflows/actions/dockerhub-login@main"
    - "id": "weekly-version"
      "name": "Get weekly version"
      "run": |
        echo "version=$(./tools/image-tag)" >> $GITHUB_OUTPUT
      "working-directory": "release"
    - "name": "Build and push"
      "timeout-minutes": "${{ fromJSON(env.BUILD_TIMEOUT) }}"
      "uses": "docker/build-push-action@v6"
      "with":
        "build-args": "IMAGE_TAG=${{ steps.weekly-version.outputs.version }}"
        "context": "release"
        "file": "release/clients/cmd/promtail/Dockerfile"
        "platforms": "linux/amd64,linux/arm64,linux/arm"
        "push": true
        "tags": "${{ env.IMAGE_PREFIX }}/promtail:${{ steps.weekly-version.outputs.version }}"
"name": "publish images"
"on":
  "push":
    "branches":
    - "k[0-9]+*"
    - "main"
"permissions":
  "contents": "write"
  "id-token": "write"
  "pull-requests": "write"