---
name: "Lint And Build Nix Flake"
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "flake.nix"
      - "flake.lock"
      - "go.mod"
      - "nix/**"
      - .github/workflows/nix-ci.yaml
jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
      pull-requests: "write"
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@456688f15bc354bef6d396e4a35f4f89d40bf2b7 # v31.8.2
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix run --print-build-logs .#lint
  packages:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
      pull-requests: "write"
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@456688f15bc354bef6d396e4a35f4f89d40bf2b7 # v31.8.2
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix build --print-build-logs .#promtail
      - run: nix build --print-build-logs .#logcli
      - run: nix build --print-build-logs .#loki
      - run: nix build --print-build-logs .#loki-canary
