name: operator build

on:
  push:
    paths:
      - 'operator/**'
    branches: [ main ]
  pull_request:
    paths:
      - 'operator/**'

jobs:
  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version-file: ./operator/go.mod
    - name: Check generated docs
      working-directory: ./operator
      run: |
        make docs/operator/api.md docs/operator/feature-gates.md
        git diff --exit-code

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version-file: ./operator/go.mod
    - name: Lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.64.6
        args: --timeout=5m
        working-directory: ./operator
    - name: Check prometheus rules
      working-directory: ./operator
      run: make lint-prometheus

  build-manager:
    name: Build Manager
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version-file: ./operator/go.mod
      id: go
    - name: Build Manager
      working-directory: ./operator
      run: |-
        make manager && git diff --exit-code

  build-broker:
    name: Build Broker
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version-file: ./operator/go.mod
    - name: Build Broker
      working-directory: ./operator
      run: |-
        make bin/loki-broker && git diff --exit-code

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version-file: ./operator/go.mod
    - name: Run tests
      working-directory: ./operator
      run: go test -coverprofile=profile.cov ./...
    - name: Run prometheus rule tests
      working-directory: ./operator
      run: make test-unit-prometheus
    - name: Send coverage
      uses: shogo82148/actions-goveralls@v1
      with:
        working-directory: ./operator
        path-to-profile: profile.cov
        flag-name: Go-1.23
        shallow: true
