name: operator build

on:
  push:
    paths:
      - 'operator/**'
    branches: [ main ]
  pull_request:
    paths:
      - 'operator/**'

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ['1.16']
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
      id: go
    - uses: actions/checkout@v2
    - name: Lint
      uses: golangci/golangci-lint-action@v3.1.0
      with:
        version: v1.38
        skip-go-installation: true
        args: --timeout=2m
        working-directory: ./operator

  build-manager:
    name: Build Manager
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ['1.16']
    steps:
    - name: Install make
      run: sudo apt-get install make
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
      id: go
    - uses: actions/checkout@v2
    - name: Build Manager
      working-directory: ./operator
      run: |-
        make manager && git diff --exit-code

  build-broker:
    name: Build Broker
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ['1.16']
    steps:
    - name: Install make
      run: sudo apt-get install make
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
      id: go
    - uses: actions/checkout@v2
    - name: Build Broker
      working-directory: ./operator
      run: |-
        make bin/loki-broker && git diff --exit-code

  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ['1.16']
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
      id: go
    - uses: actions/checkout@v2
    - name: Run tests
      working-directory: ./operator
      run: go test -coverprofile=profile.cov ./...
    - name: Send coverage
      uses: shogo82148/actions-goveralls@v1
      with:
        working-directory: ./operator
        path-to-profile: profile.cov
        flag-name: Go-${{ matrix.go }}
        shallow: true
