---
name: 'create release PR for patch releases'
on:
  push:
    branches:
      - 'test-release'
  workflow_dispatch: {}
permissions:
  contents: 'write'
  issues: 'write'
  pull-requests: 'write'
jobs:
  create-release-pr:
    uses: grafana/loki-release/.github/workflows/release-pr.yml@main
    with:
      release_repo: grafana/loki
      skip_validation: true
      versioning_strategy: always-bump-patch
    secrets:
      GCS_SERVICE_ACCOUNT_KEY: '${{ secrets.BACKEND_ENTERPRISE_DRONE }}'
      GH_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
